#livesearch_search_results {
        margin:0px;
        padding:5px !important;
        position: absolute;
        top:100%;
        left: 0px;
        background-color: #fff;
        border:1px solid #dbdbdb;
        list-style-type: none;
        z-index: 12;
        width:216px;
		text-align:left;
		margin-top:1px;
}
#livesearch_search_results li {
        padding: 0px;
		overflow:hidden;
}
#livesearch_search_results a,
#livesearch_search_results a:visited,
#livesearch_search_results a:hover {
        color: #454545;
        text-decoration: none;
        font-size:12px;
        }
#livesearch_search_results a {
	display:block; padding:5px;	float:left;
    color:#777
}
#livesearch_search_results a:hover {
        color: #FFF;
}
#livesearch_search_results li:hover {
        background-color: #FB838D;
}
#livesearch_search_results .highlighted a {color:#fff}
#livesearch_search_results .highlighted {
        background-color: #FB838D;
}
#livesearch_search_results li img {
	overflow:hidden;
	float:left;
	margin-right:10px;
	background:none;
}
#livesearch_search_results li a {
	background:none;
}
#livesearch_search_results li img.loading {
	background:#f5f5f5;	
}
