html {
	margin: 0;
	padding: 0;
}
html, body {
	margin:0;
}
body {
	color: #767676;
	font-family: Arial,sans-serif;
	margin: 0px;
	font-size:13px;
	line-height:20px;
	min-width:260px;
	background: white;
	}

#page {
	margin:0 auto;
}
#page header{
	padding-bottom:5px;
}
td, th, input, textarea, select{
	font-size: 13px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a:focus {
	cursor: pointer;
	text-decoration:none;
	outline:none
}
a {
	color: #fb838d;
}
a:hover {
	text-decoration:none;
	color:#71892A;
}
a img {
	border: none;
}
form {
	margin-bottom:0;
	}
/***********************/

.p0 {
	padding:0px !important
	}
.m0 {
	margin:0px !important
	}
.mt0 {
	margin-top:0px !important
	}
/***********************/
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.0.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/****************/
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fancybox {
	text-decoration:none;
}
.fancybox:hover {
	text-decoration:underline;
}
.account-success #content p {
	margin-bottom:5px;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
.extra-wrap {
	overflow:hidden;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
a#hidden {
	display:none;
	visibility:hidden
	}
/********************************************************************************back to top******************************************************************************/
#back-top {
	position: absolute;
	content:'';
	display:block;
	right:0; bottom:0;
	width:47px; height:43px;
	z-index:3;
	margin-bottom:0;
}
#back-top a{
	display:block;
	background:#fb838d;
}
#back-top span {
	width:47px;
	height:43px;
	display: block;
	margin-bottom: 7px;
	background:url(../image/up-arrow.png) no-repeat center center;
}
#back-top a:hover {
	background-color:#acc955;
}
/***********************************************************************************header-style**********************************************************************************/
.header-modules {
	position:relative;
	z-index:1;
	}
/* layout */
#content {
	float:right;
	}
#container {
	text-align: left;
	}
#column-left {
	float: left;
	}
#column-right {
	float: right;
	}
/* header */
header {
	position: relative;
	color:#717171;
	}
header #logo a img {
	vertical-align:top;
	max-width:100%;
	}
header #logo {
	float:left;
	margin:10px 0 0 20px;
	text-align:left;
	max-height:36px;
	}
.logo-container {
	padding:10px 0 7px;
	margin-bottom:26px;
	background:url(../image/content-tail-940px.png) repeat-y center top;
	border-bottom:1px solid #d2d2cb;
	border-bottom:1px solid rgba(0,0,0,.1);
	border-top:1px solid #d2d2cb;
	border-top:1px solid rgba(0,0,0,.1);

}
#language img {
	cursor: pointer;
}
.header-top1 {
	float:right;
	}
/************************************************************************************currency******************************************************/
.swipe-left {
	width:20px;
	left:0;
	top:0;
	position:fixed;
	height:100%;
	z-index:98
	}
body.ind .swipe-left {
	display:none !important;
	visibility:hidden
	}
.swipe {
	display:none;
}
.swipe-control  {display:none;}
#currency {
	float:right;
}
#currency >div .heading-1 {display:none;}
.swipe-menu #currency {
	float:none;
	}
.swipe-menu #currency > ul form {margin:0; cursor:default;}
.swipe-menu #currency > ul {
	top:0;
	left:0;
	right:auto;
	position:relative;
	width:100%;
	background:#fcfcfc;
	border:0;
	border-bottom:1px solid #DBDBDB;
	padding:0
	}
.swipe-menu #currency > ul li:first-child {padding-left:30px;}
.swipe-menu #currency > ul li {
	display:inline-block;
	padding:0px 0 0px 10px;
	line-height:20px;
	}
.swipe-menu #currency > ul li a {
	margin:14px;
	display:block;
	cursor:pointer;
	}
.swipe-menu #currency > ul li span.act {color:#FB838D;}
#body .swipe .swipe-menu #currency .heading {display:none;}
#body .swipe .swipe-menu #currency>div {display:block;}
#body .swipe .swipe-menu #currency .heading-1{
	display:block;
	padding:11px 20px;
	float:none;
	border-bottom:1px solid #DBDBDB;
	font-size:13px;
	}
#body .swipe .swipe-menu #currency .heading-1 i {
	display:inline-block;
	font-size:17px;
	vertical-align:middle;
	margin-top:0px;
	color:#FB838D;
	padding-left:0;
	margin-right:9px;
	}
#body .swipe .swipe-menu #currency .heading-1 i.icon-angle-down {
	font-size:15px;
	text-align:center;
	float:right;
	}

/*********************************************************************************************language*******************************************************************************************/
#language {
	float:right;
	}
#language .heading{
	font-family: 'Open Sans', sans-serif;
	}
#language .heading1 {display:none;}
.swipe-menu #language  {
	float:none;
	}
.swipe-menu #language> ul {
	position:relative;
	}
.swipe-menu #language .heading {
	display:none;
	}
.swipe-menu #language {
	float:none;
	}
.swipe-menu #language > ul {
	top:0;
	left:0;
	right:auto;
	position:relative;
	width:100%;
	background:#fcfcfc;
	border:0;
	border-bottom:1px solid #DBDBDB;
	padding:0
	}
.swipe-menu #language > ul li>span{
	display:block;
	font-size:14px;
	}
.swipe-menu #language > ul li {
	display:inline-block;
	padding:0px 0 0px 5px;
	line-height:20px;
	}
.swipe-menu #language > ul li:first-child {
	padding-left:30px;
	}
.swipe-menu #language > ul li span.act {color:#fb838d}
#body .swipe .swipe-menu #language .heading {display:none;}
#body .swipe .swipe-menu #language>div {display:block;}
#body .swipe .swipe-menu .header-button .heading1{
	display:block;
	padding:11px 20px;
	float:none;
	border-bottom:1px solid #DBDBDB;
	font-size:13px;
	color:#767676;
	}
#body .swipe .swipe-menu #language .heading1 i {
	display:inline-block;
	font-size:17px;
	vertical-align:middle;
	margin-top:0px;
	color:#FB838D;
	text-align:center;
	margin-right:9px;
	}
#body .swipe .swipe-menu #language .heading1 i.icon-angle-down {
	font-size:15px;
	float:right;
	}
/*********************************************************************************************header button*******************************************************************************************/
.header-button {
	position:relative;
	z-index:10;
}
.buttons_top .header-button {
	border:1px solid #e3e3e3;
	margin-left:8px;
}
.header-button>ul {
	display:none;
	position:absolute;
	background-color:grey;
	width:200px;
	}
.header-button>div:hover {cursor:pointer;}
.top-site .header-button>div i{
	font-size:14px;
	line-height:16px;
	color:#787878;
	margin-left:4px;
	vertical-align:middle;
	}
.top-site .header-button.active>div i, .top-site .header-button>div:hover i{
	color:#929292;
	}
.top-site .header-button>div {
	display:inline-block;
	font-size:13px;
	line-height:16px;
	height:16px;
	font-family: 'Open Sans',sans-serif;
	text-transform:capitalize;
	padding:3px 5px 4px 3px;
	margin-left:5px;
    color: #929292;
	}
.top-site  .buttons_top{
	display:inline-block;
	float:right;
	margin-top:5px;
	margin-right:9px;
}
.top-site .header-button>ul {
	background-color:#fff;
	width:38px;
	left:auto;
	right:0;
	padding:10px 0;
	border:1px solid #dbdbdb;
	}
.top-site .header-button>ul li {
	text-align:center;
	padding:3px 0;
	}
.top-site .header-button>ul li span {
	font-size:13px;
	color:#767676;
	text-transform:capitalize;
	cursor:pointer;
	}
.top-site .header-button>ul li:hover span{
	color:#fb838d;
	}
/*********************************************************************************************Swipe Control*******************************************************************************************/
body div.shadow{display:none;}
#body .swipe .swipe-menu li a:hover {color:#FB838D;}
#body .swipe .swipe-menu li a {color:#767676}
#body .swipe .swipe-menu li a i {
	color:#FB838D;
	font-size:17px;
	margin-right:9px;
	}
#body .swipe .swipe-menu > ul li a {
	display:block;
	font-size:13px;
	line-height:21px;
	vertical-align:top;
	color:#767676;
	padding:10px 20px 11px;
	border-bottom:1px solid #DBDBDB;
	position:relative;
	}
#body .swipe .swipe-menu > ul li a i:before{
	vertical-align:middle;
	}
/*****************************************************/
#body .swipe .swipe-menu .foot li a:before {
	content:"\f05a";
	 background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: baseline;
    width: auto;
	display: inline-block;
    text-decoration: inherit;
	text-align: center;
    font-size:17px;
	color:#FB838D;
	margin-right:9px;
	}
#body .swipe .swipe-menu .foot li+li a:before {content:"\f0d1"}
#body .swipe .swipe-menu .foot li+li+li a:before {content:"\f06a"}
#body .swipe .swipe-menu .foot li+li+li+li a:before {content:"\f085"}

#body .swipe .swipe-menu .foot.foot-1 li a:before {content:"\f0ac"}
#body .swipe .swipe-menu .foot.foot-1 li+li a:before {content:"\f079"}
#body .swipe .swipe-menu .foot.foot-1 li+li+li a:before {content:"\f0e8"}

#body .swipe .swipe-menu .foot.foot-2 li a:before {content:"\f02c"}
#body .swipe .swipe-menu .foot.foot-2 li+li a:before {content:"\f06b"}
#body .swipe .swipe-menu .foot.foot-2 li+li+li a:before {content:"\f0c0"}
#body .swipe .swipe-menu .foot.foot-2 li+li+li+li a:before {content:"\f0a3"}

#body .swipe .swipe-menu .foot.foot-3 li a:before {content:"\f0cb"}
#body .swipe .swipe-menu .foot.foot-3 li+li a:before {content:"\f003"}

/*********************************************************************************************header-cart*******************************************************************************************/
.cart-position {
	text-align:left;
	float:right;
	position:relative;
	margin:0 0 5px 0;
	}
#cart .heading span.link_a i.icon-shopping-cart{
	line-height:38px;
	margin-right:9px;
	float:left;
	}
#cart .heading span.link_a i.icon-angle-down {
	line-height:16px;
	margin-left:2px;
	margin-top:0;
	vertical-align:middle;
	}
#cart .heading span.link_a {
	display:block;
	color:#a2a2a2;
	text-decoration:none;
	font-size:12px;
	line-height:18px;
	padding:4px 5px 3px 18px;
	font-family: 'Open Sans',sans-serif;
	font-weight:normal;
	cursor:pointer;
	min-width:170px;
	}
#cart .heading span.link_a b{
	font-size:14px;
	font-weight:bold;
	color:#acc955;
	}
#cart.active .content {
	display:block;
	}
.cart-position #cart .heading span.link_a #cart-total2 {display:none;}
#cart .content {
	clear: both;
	display:none;
	position: absolute;
	top:100%;
	margin-top:-1px;
	background:#fff;
	z-index:99999;
	width:257px;
	padding:20px;
	float:right;
	border:1px solid #dbdbdb;
	right:0px;
	}
header #cart.active .content {
	display: block;
	}
header #cart.active .content .mini-cart-info{
	display: block;
	}
header #cart .cart {
	width: 100%;
	margin-bottom: 5px;
	}
header #cart .cart td.price {
	font-size:12px;
	line-height:12px;
}
header #cart .cart td.total {
	font-size:12px;
}
header #cart .cart td.name a:hover {
	color:#fb838d;
}
header #cart .cart td.name a i {text-decoration:none;}
header #cart .cart td.name a {
	font-size:13px;
	line-height:16px;
	color:#5e5e5e;
	margin-top:0px;
	display:inline-block;
}
header #cart .cart td .total {
	font-size:16px;
	color:#282828;
	font-family: 'Playball',cursive;
}
header #cart .cart td .total .quantity {
}

header #cart .cart .item-cart-1 td {
	padding-top:0;
}
header #cart .cart td.name {
	color: #8f8f8f;
	vertical-align: top;
	position:relative;
	display:block;
	overflow:hidden;
	padding: 10px 0;
	}
header #cart .cart .image {
	padding-right:15px;
	vertical-align:top;
	}
.cart tr {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #D0D0D0;
}
.cart-module .cart tr {
	background:none;
}
header #cart .cart .image img {
	text-align: left;
}
header #cart .cart .name small {
	color: #5e5e5e;
	font-size:13px;
}
header #cart .cart .quantity {
	font-family:Arial, sans-serif;
	font-size:11px;
	color:#a6a4a4;
	text-transform:uppercase;
}
header #cart .cart td.total {
	font-size:13px;
	color:#c81908;
	text-align: right;
	}
.cart-module .remove img:hover {
	overflow:hidden;
	margin-top:-11px;
}
.cart-module t .remove img {
	float:left;
}
.remove span:hover i{color:#fb838d;}
.cart-module  .remove span {
	width:11px;
	height:11px;
	overflow:hidden;
	display: inline-block;
}
.cart-module  .remove {
	width:20px;
	text-align:center!important;
	padding-top:8px;
}
.cart-module  .remove img {
	cursor: pointer;
}
header #cart .remove i:hover {cursor:pointer}
header #cart .remove i {
	font-size:13px;
	color:#B2D44A;
	line-height:normal;
	margin-right:8px;
	}
header #cart .remove img:hover {
	overflow:hidden;
	margin-top:-11px;
}
header #cart .remove img {
	float:left;
}
header #cart .remove {
	position:absolute;
	right:0;
	top:0;
	}
header #cart .remove>span:hover, header #cart .cart .remove>span:hover i {
	color:#FB838D;
	}
header #cart .remove>span{
	font-size:15px;
	cursor:pointer
	}
header #cart .remove img {
	cursor: pointer;
}
header #cart table.total {
	font-size:13px;
	font-weight:bold;
	color:#323232;
	padding: 5px 10px 5px 10px;
	margin-top:5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
header #cart table.total tr {
	padding:0px 10px 0px 10px;
}
header #cart table.total td b {
	color:#7e7e7e;
	font-size:13px;
	font-weight:normal;
}
header #cart .content .checkout a.button{
	background:none;
	line-height:26px;
	vertical-align:top;
}
header #cart .content .checkout a.button span{
	padding:0;
	color:#ACC955;
	font-family: Georgia,sans-serif;
	font-size:12px;
	line-height:26px;
	vertical-align:top;
}
header #cart .content .checkout a.button i{
	color:#ACC955;
	font-size:26px;
	line-height:26px;
	margin-right:5px;
}
header #cart .content .checkout a.button:hover i, header #cart .content .checkout a.button:hover span{
	color:#fb838d;
}
header #cart table.total td {
	color: #323232;
	padding-left:5px;
	padding-right:10px;
	text-align:left;
}
header #cart table.total td .t-price {
	font-size:14px;
	font-family: 'Playball',cursive;
	font-weight:normal;
}
header #cart .content .checkout a.button {
	margin-bottom:5px;
	margin-left:10px;
	}
header #cart .content .checkout {
	text-align: right;
	clear: both;
	padding-right:8px;
	padding-bottom:0px;
	padding-top:5px;
}
header #cart .empty {
	padding-top:20px;
	text-align: center;
	padding-bottom:20px;
}
/****************************************************************************************************************************************************************************************/
/* menu */
/****************************************************************************************************************************************************************************************/
header .top-site {
	width:100%; height:auto;
	margin-bottom:36px;
	background: url(../image/content-tail-940px.png) repeat-y center top;
	border-bottom: 1px solid #d2d2cb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	line-height:0;
	padding-top:1px;
	display:block;
	position:relative;
	}
header  .top-site .right{
	float:right;
}
header .toprow-1 {
	z-index:100;
	position:fixed;
	display:none;
	background-color:#acc955;
	width:100%;
	left:0;
	top:0;
	}
header .toprow-1 #cart .heading span.link_a i {}
/**************************************************************************************/
header .links {
	display:inline-block;
	float:left;
	}
header .links li a i {
	font-size:18px;
	line-height:16px;
	color:#fb838d;
	margin-right:9px;
	}
header .links li {
	float:left;
	}
header .links a.active, header .links a:hover {
	text-decoration:none;
	color:#fb838d;
	}
header .links a {
	display:inline-block;
	margin:10px 0px 8px 10px;
	font-size:13px;
	line-height:16px;
	color:#8d8d8d;
	font-family: 'Open Sans', sans-serif;
	}
header .links li:first-child a {
	margin-left:20px;
	}
.toprow .links .login_h a {
	max-width:104px;
	white-space:nowrap;
	}
.logg {
	display:inline-block;
	float:right;
	margin:11px 0 22px 10px;
	list-style:none;
	text-align:right;
	min-width:100px;
}
.logg li{
	margin-bottom:2px;
}
.logg li a{
	font-size:14px;
	line-height:16px;
	text-transform:uppercase;
	color: #383838;
}
.logg li a:hover{
	color: #fb838d;
}
.logg li a i{
	display:none;
}

/***************************************************************************************menu-gadget**********************************************************************************/
#menu-gadget {display:none;}
/***************************************************************************************search**********************************************************************************/
.top-search  {
	line-height:50px;
	border-right:1px solid #8b9e52;
	display:inline-block;
	padding:0 20px;
	}
.top-search:hover {
	cursor:pointer
	}
.top-search i {
	font-size:26px;
	color:#fff;
	}
.top-search #search {display:none;}
#search {
	position:relative;
	display:inline-block;
	margin:5px 20px 5px 0;
	float:right;
	}
#search .button-search span{display:none;}
#search .button-search {
	position:absolute;
	top:0; right:0;
	z-index:5;
	display:inline-block;
	font-size:11px;
	line-height:11px;
	color:#C3C3C3;
	padding:7px 11px 5px 6px;
	}
#search .button-search:hover {
	color:#fb838d;
	cursor:pointer;
	}
#search input {
	float:right;
	border-radius:0;
	font-size:12px;
	line-height:14px;
	font-family:Arial, sans-serif;
	max-width:134px;
	height:14px;
	margin:0;
	padding:5px 30px 4px 5px;
	color:#bcbcbc;
	background-color:#fff;
	border:none;
	border:1px solid #e1e1e1;
	}
/*******************************************************************************************************************************************************************************/
.name a {
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	font-size:12px;
	line-height:14px;
	text-transform:uppercase;
	color:#71892a;
	text-indent:
	}
.name a:hover {
	text-decoration:none;
	}
.mini-cart-info .cart .name a:hover {
	color:#fb838d;
	}
.price.price-min {display:none;}
.price {
	font-family: 'Playball', cursive;
	font-size:18px;
	line-height:23px;
	color:#383838;
	font-weight:normal;
	}
.price .price-new {
	margin-right:7px;
	}
.price .price-old {
	text-decoration:line-through;
	font-size:16px;
	color:#a3a3a3;
	}
/*****************************************************************************box price *************************************************************************/
.box-product .price {
	display:inline-block;
	float:left;
	margin-top:5px;
	margin-bottom:7px;
	}
aside .box-product .price {
	margin-top:-2px;
	}
.product-list .price, .product-grid .price {
	margin-bottom:9px;
	}
.box-product .price .price-new {
	font-size:24px;
	line-height:29px;
	color:#393939;
	margin-right:4px;
	}
.box.box-filter input[type="checkbox"] {
    float: left;
}
/************************************ tooltip **************************************/
.related-info .tooltip-inner {max-width:120px !important; white-space:normal !important}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 13px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}
.related .bx-viewport{
	padding-left:20px;
}
.related {
    padding: 0 80px 0 50px;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
	white-space:nowrap;
  max-width: 300px;
  padding:5px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #ACC955;

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: rgba(255,102,102,0);
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #ACC955;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #ACC955;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #ACC955;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #ACC955;
  border-width: 0 5px 5px;
}
/*******************************************************************************Icon: wishlist and Comapare************************************************************************************/
.tooltip-1 {white-space:nowrap}
.wishlist, .compare{
	float:left;
	display:inline-block;
	}
.wishlist span, .compare span{
	display:none;
	}
.wishlist a, .compare a{
	display:block;
	font-size:24px;
	line-height:24px;
	color:#fff;
	width:32px;
	height:32px;
	float:left;
	margin-left:6px;
	background: #fb838d;
	text-align:center;
	}
.wishlist a:hover, .compare a:hover{
	background-color:#acc955;
	}
.wishlist a:hover i, .compare a:hover i{
	color:#fff
	}
.wishlist a i, .compare a i {
	font-size:18px;
	color:#fff;
	line-height:32px;
	}

/*********************************************************************leftinfo***************************************************************************************************/
aside .info li, .afine li, .acount li {
	position: relative;
	clear:both;
	padding:13px 10px 11px 19px;
	border-top:1px solid #DBDBDB;
}
aside .info li:first-child, .afine li:first-child, .acount li:first-child  {
	border-top:none;
}
aside .info li a, .afine li a, .acount li a {
	line-height:14px;
	font-size:12px;
	color:#6d6d6d;
	font-family:'Open Sans',sans-serif;
	text-transform:uppercase;
	}
.sitemap-info ul li {
	padding-top:5px;
	padding-bottom:5px;
	}
aside .info li a + a i, .afine li a + a i, .acount li a + a i{
	display:none;
	}
aside .info li a + a, .afine li a + a, .acount li a + a {
	padding-left:0;
	background:none;
}
aside .info li a:hover, .afine li a:hover, .acount li a:hover {
	color:#fb838d;
}
/********************************************************************************************************************************************************************************/
.box-filter .box-content .button {margin-top:10px}
/********************************************************************************specials*****************************************************************************************/
.breadcrumb a.last {
	color:#383838;
	}
.breadcrumb a.last:hover {
	color:#383838;
	}
.breadcrumb {
	font-family:'Open Sans',sans-serif;
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	border-radius:0;
	padding:12px 20px;
    font-size: 13px;
    line-height: 16px;
	text-transform:uppercase;
	}
.breadcrumb a{
	color:#777;
	}
.breadcrumb a:hover{
	color:#fb838d;
	}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #D0D0D0;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	padding-left:30px!important;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	cursor: pointer;
}
.required {
	color: #ff7409;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	margin-bottom: 20px;
}
.checkout-product thead td .checkout-product thead td {
	text-align:center!important;
}
.checkout-content .buttons #button-payment {
	margin-top:10px;
}
.checkout-product td.price {
	font-size:12px;
	}
.checkout-product td.total {
	text-align:center!important;
	}
table.list thead td a, .list thead td {
	text-decoration: none;
	}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	}
table.list .left {
	text-align: left;
	}
table.list .right {
	text-align: right;
	}
table.list .center {
	text-align: center;
	}
.pagination {
	display: inline-block;
	width: 100%;
	}
.account-order .button-order-right {
	float:right;
	margin-top:-3px;
}
.account-order .pagination {
	margin-bottom:25px;
}
.pagination .links {
	float: left;
	margin-right:10px;
}
.pagination .links a {
	display: inline-block;
	padding: 3px 9px;
	text-decoration: none;
	color:#767676;
	background:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	}
.pagination .links a:hover {
	background:#fb838d;
	color:#fff;
	border:none;
	padding: 3px 9px;
	border:1px solid #fb838d;
	}
.pagination .links b:hover {
	cursor:default
	}
.pagination .links b {
	border:none;
	background:#fb838d;
	color:#fff;
	display: inline-block;
	padding: 3px 9px;
	border:1px solid #fb838d;
	font-weight: normal;
	text-decoration: none;
	}
.pagination .results {
	float:left;
	margin:5px 0px;
}
/* button */
a.button.details {float:left;}
a.button , a.button-prod{
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background: #fb838d;
	text-align:center;
	margin-bottom:6px;
	}
a.button span , a.button-prod span{
	color: #fff;
	display: inline-block;
	padding:10px 10px 9px 10px;
	white-space:nowrap;
	letter-spacing:-.5px;
	font-family: Georgia, sans-serif;
	text-transform:uppercase;
	font-size:11px;
	line-height:13px;
	min-width:57px;
	}
aside a.button span{
	padding-left:12px;
	padding-right:12px;
}
a.button:hover , a.button-prod:hover{
	background-color:#acc955;
	}
a.button:hover span, a.button-prod:hover span  {
	color:#fff;
}
a.button-i {
	display:inline-block;
	padding:5px;
	}
a.button-i i {
	font-size:26px;
	color:#fb838d
	}
a.button-i i:hover {
	color:#777
	}
/*******************************************background image ***********************************************************/
.image2 {position:relative;}
.image img, .image2 img, .image3 img {
	vertical-align:top;
	}

.product-grid .image, .box-product .image2, .box-product .image{
	text-align:center;
	}
/*****************************************************************************************************************/
.buttons {
	overflow: auto;
	}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right .mt {
	margin-top:10px
	}
.buttons .right {
	float: right;
	text-align: right;
	}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#module_cart .content {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 2px 2px #DDDDDD;
	clear: both;
	display: none;

	padding: 8px;
	position: relative;
	top: -1px;
}
#module_cart.active .heading {
	border-left: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-top: 1px solid #D0D0D0;
	margin-top: 5px;
	padding-bottom: 6px;
	padding-top: 10px;
}
#module_cart.active .content {
	display: block;
}
#module_cart .cart .name {
	padding-top:5px;
	padding-bottom:10px;
	padding-top:10px;
}
#module_cart .cart {
	margin-bottom:10px;
	width: 100%;
}
#module_cart .cart td .quantity {
	font-weight:bold;
	}
#module_cart .cart td {
	border-bottom: 1px solid #D0D0D0;
	padding: 2px 3px;
	vertical-align: top;
	}
#module_cart .cart td a {
	font-weight:normal;
	}
#module_cart .cart .image {
	display: none;
}
#module_cart .cart .image img {
	border: 1px solid #D0D0D0;
	text-align: left;
}
#module_cart .cart .name small {
	line-height: 14px;
}
#module_cart .cart td.quantity {
	font-family: Arial, sans-serif;
	padding-top:0px;
	vertical-align:middle;
	}
#module_cart .cart td.total {
	text-align: center;
	vertical-align: middle;
	}
#module_cart .cart .remove {
	text-align: right;
	padding:2px 2px;
	vertical-align: middle;
}
#module_cart .cart .remove img {
	cursor: pointer;
}
#module_cart table.total {
	clear: left;
	float: right;
	margin-bottom:10px;
	padding: 5px;
}
.total-right {
	text-align:right!important;
}
#module_cart .total-left {
	padding-right:18px;
}
#module_cart table.total td b {

	}
#module_cart table.total td {
	padding-top:3px;
	padding-bottom:3px;
	padding-left:5px;
	text-align:left;
}
#module_cart .checkout .button {
	margin-bottom:10px;
}
#module_cart .checkout {
	clear: both;
	text-align: right;
}
#module_cart .empty {
	text-align:left;
	line-height:17px;
	padding:5px 0;
}
.affiliate-register .box-container .buttons input[type="checkbox"] {
    margin: 0;
}
.border-recurring{
	display:table-cell !important;
}
.border-recurring > span{
	float:none !important;
}
.product-list #image {
	float: left;
	margin-top:0px;
	z-index: 0;
}
.product-grid #image {
	float: left;
	margin-top:0px;
	z-index: 0;
}
.home-block #image {
	float: left;
	margin-top:0px;
	z-index: 0;
	}
/* box */
.box {
	margin-bottom:30px;
}
.common-home .box.featured {
	margin-bottom:3px;
}
aside .box {
    margin-bottom: 36px;
}
aside .box ul li{
	background-color:#fff;
}
aside .box.featured .box-content, aside .box.specials .box-content, aside .box.bestsellers .box-content, aside .box.new-products .box-content {
	border:none;
}

.box .box-heading , h1.style-1, .product-info h1, .tabs .tab-heading, .content-border h2, .tabs .tab-heading{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	line-height:22px;
	padding:8px 15px 8px 27px;
	background-color:#fb838d;
	color:#fff;
	margin-bottom:33px;
	text-transform:none;
	}
.box.category .box-heading{
	display:none;
}
#content .box.specials {
	margin-bottom:0;
	border-bottom:0;
	padding-bottom:0;
	}
aside .box .box-heading{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	line-height:23px;
	color:#fff;
	margin-bottom:0;
	padding:6px 10px 9px 20px;
	background-color:#ACC955;
	}
aside .box .box-content{
	border-right:1px solid #d2d2cb;
	border-right:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid #d2d2cb;
	border-bottom:1px solid rgba(0,0,0,.1);
	border-left:1px solid #d2d2cb;
	border-left:1px solid rgba(0,0,0,.1);
	}
aside .box#compare .box-content, aside .box.box-filter .box-content{
	padding:20px 10px;
	background-color:#fff;
	}
.remove i.icon-remove-sign{
	color:#ACC955;
}
.remove a.hide_compare:hover i.icon-remove-sign{
	color:#FB838D;
}
/* box products */
.box .box-content .box-product ul li.first-in-line {
	clear:left;
	}
.box .box-content .box-product ul li, .product-grid ul li {
	margin-bottom:33px;
}
aside .box .box-content .box-product ul  {
	width:auto;
	margin:0;
	}
aside .box .box-content .box-product ul>li {
	width:100%;
	margin:0;
	max-width:270px
	}
.box-filter li {
	line-height:25px;
	}
.box-filter label {
	cursor:pointer;
	display:inline;
	padding-left:5px;
	}
.prod-stock {
	font-style:italic;
	color:#ACC955;
	font-size:13px;
}
.box-product {
	width:100%;
	margin:0;
	padding:0;
}
.box.subcat {
	border-bottom:0;
	padding-bottom:0;
	}
.box-product.box-subcat {
	margin-top:0 !important
}
.box-product.box-subcat .name.subcatname {
	overflow:hidden;
	padding:10px 15px;
	background:#fff;
	border-right:1px solid #d2d2cb;
	border-right:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid #d2d2cb;
	border-bottom:1px solid rgba(0,0,0,.1);
	border-left:1px solid #d2d2cb;
	border-left:1px solid rgba(0,0,0,.1);
}
.box-product.box-subcat .name.subcatname a:hover {
	color:#FB838D;
	}
.box-product.box-subcat ul li {
	border:0px;
	}
.zoom-top img {
	opacity:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.zoom-top a:hover {
	background-color:#FB838D;
	}
.zoom-top a{
	display:block;
	width:25px!important;
	height:25px!important;
	background-color: #ACC955;
	color:#fff;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	z-index:25;
	font-size:19px;
	text-align:center;
	line-height:24px;
	vertical-align:top;
}
.zoom-top a:before{
	background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    height: auto;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: baseline;
    width: auto;
	content: "\f00e";
	width:25px;
	line-height:25px;
}
.box-product > li.tree-div {
	margin-right:0;
}
.box-product > li {
	width:176px;
	display: inline-block;
	vertical-align: top;
	margin-right:42px;
	margin-bottom:28px;
}
#module_cart .cart .name a {
	text-decoration:none;
	line-height:17px;
}
#module_cart .cart .name a:hover {
	text-decoration:underline;
}
.box-product .image {
	display: block;
	text-align:center;
}
.box-product .name a {
	display: inline;
}
.box-product .rating {
	display: block;
	margin-top:7px;
	margin-bottom: 0px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.afine {
	list-style:none;
	margin:0;
	padding:0;
}
.afine li:first-child, .acount li:first-child {
	border:0px
}
.afine li, .acount li {

}
.afine li a + a {
	background:none;
	padding-left:0;
}
.acount {
	list-style:none;
	}
.content ul {
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:20px;
}
.content ul li a {
	text-decoration:none;
	line-height:normal;
	color:#6D6D6D;
	font-family: 'Open Sans',sans-serif;
}
.content ul li a:hover {
	color:#fb838d;
}
.content ul li:first-child {
	border:none;
}
.content ul li {
	padding-bottom:4px;
	padding-top:4px;
}
.content ul li a {
	font-weight:normal;
	}
.wishlist-product td a {
	text-decoration:none;
}
.wishlist-product td {
	vertical-align: middle!important;
	text-align:center;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
}
/***********************************************************************category*************************************************************/
.icon-angle-up:before             { content: "\f106" !important; }
li.parent> i:hover {
	cursor:pointer
	}
li.parent> i.icon-angle-down{
	float:right;
	font-size:21px;
	position:absolute;
	right:10px;
	top:8px;
	}
.sf-menu-phone li.parent> i.icon-angle-down{
	font-size:40px;
	height:40px;
	right:0;
	top:0;
	padding:0 10px;
	}
.sf-menu-phone li.parent> i.icon-angle-down:before{
	width:24px;
	}
li.parent> i.icon-angle-down:hover, .sf-menu-phone li.parent> i.icon-angle-down:hover:before{
	background-position: center bottom !important;
	}
.box.category li{
	position:relative
	}
.box-category > ul > li.active>a i, .box-category > ul > li > a:hover i {color:#777}
.box-category > ul > li > a i {
	font-size:21px;
	color:#fb838d
	}
.box-category > ul > li > a {
	display:block;
	color:#000;
	font-size:18px;
	line-height:22px;
	margin-top:5px;
	margin-bottom:9px;
	font-family: 'Open Sans', sans-serif;
	}
.box-category > ul > li > a >span{
	display:block;
	overflow:hidden;
	}
.box-category > ul > li > a img{
	margin-left:3px;
	margin-right:15px;
	float:left;
	}
.box-category > ul > li.active>a, .box-category > ul > li>a:hover {
	color:#fb838d;
	}
.box-category > ul > li {
	position:relative;
	padding:5px 0
	}
.box-category > ul > li strong {
	display:none;
}
.box-category > ul > li.last {
	border:none;
}
.box-category > ul > li li ul {
	display:none;
	margin:10px 0 10px 25px;
	}
.box-category > ul > li span.close:hover {
	cursor:pointer;
}
.box-category > ul > li li.parent> i.icon-angle-down {
	line-height:11px;
	vertical-align:middle;
	}
.box-category > ul > li li  i.icon-angle-right, aside .info li a i, .afine li a i, .acount li a i, .sitemap-info ul li a i , .manufacturer-list ul li a i, .content ul li a i{
	font-size:12px;
	line-height:19px;
	color:#FB838D;
	margin-right:11px;
	float:left;
}
.box-category > ul > li ul > li.active > a, .box-category > ul > li ul > li > a:hover {
	color: #fb838d;
	}
.box-category > ul > li ul > li {
	padding:0;
	}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: inline-block;
	overflow:hidden;
	font-size:13px;
	line-height:19px;
	color:#383838;
	}
.box-category > ul > li {
	border-top:5px solid #fb838d;
	background-color:#fff;
	padding:14px 15px 28px 15px;
	margin-bottom:8px;
}
.act-cat {
	position:absolute;
	top:9px;
	right:6px;
}
/*************************************************************************************************************************************************************/
.info-about2, .info-about3, .info-about4 {
	display:none;
}
/* category */

.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info {
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	padding:15px;
	margin-bottom:20px;
}
.category-list ul {
	float: left;
	width:25%;
	list-style:none;
	padding:0;
}
.capcha {
	width:143px;
}
.sitemap-info ul li {
	padding-left: 14px;
	text-transform:capitalize;
}
.sitemap-info ul li a:hover {
	color:#fb838d;
	}
.sitemap-info ul li a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	text-transform:capitalize;
	font-size:13px;
	line-height:16px;
	color:#6D6D6D;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	overflow: auto;
	margin-bottom:-1px;
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
}
.manufacturer-heading span {
	background:#fb838d;
	color:#fff;
	text-transform:uppercase;
	display:inline-block;
	font-size:25px;
	line-height:30px;
	padding:10px 0;
	width:50px;
	text-align:center;
	}
.product-manufacturer .box-container a{
	color: #71892A;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    line-height: 14px;
	text-transform:uppercase;
}
.product-manufacturer .box-container .manuf-p a{
    font-size: 16px;
    line-height: 19px;
}
.product-manufacturer .box-container a:hover{
	color:#fb838d;
}
.manuf-p >b{
	font-weight:normal;
}
.manufacturer-heading {
	background:#fff;
	font-size: 15px;
	font-weight: bold;
	padding:5px;
	margin-bottom: 6px;
	border-bottom:1px solid #DBDBDB;
}
.manufacturer-content {
	padding:30px 40px;
	overflow:hidden;
}
.manufacturer-list ul li a i{
	font-weight:normal;
	line-height:18px;
	}
.manufacturer-list ul li a:hover i{
	color:#000;
	}
.manufacturer-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
.box.manufacturers li {
	padding:5px 0;
	}
.box.manufacturers li a {
    display: inline-block;
    text-decoration: none;
	}
/* product */
.product-filter .product-compare {
	float:left;
	margin-left:10px;
	}
.product-filter select {
	margin-bottom:0;
	}
.product-filter {
	overflow:hidden;
	line-height:32px;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	border-width:1px 0;
	padding:10px 0;
	margin-bottom:30px;
}
.product-filter .display {
	float:right;
	}

.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort b {
	padding-right:7px;
	font-family:'Open Sans',sans-serif;
	color:#383838;
	text-transform:uppercase;
	font-weight:normal;
	}
.product-filter .sort select {
	width:140px;
}
.product-filter .sort {
	float:left;
}
.product-filter .limit select {
	width:72px;
}
.product-filter .limit b {
	padding-right:5px;
	font-family:'Open Sans',sans-serif;
	color:#383838;
	text-transform:uppercase;
	font-weight:normal;
}
.product-filter .limit {
	margin-left: 13px;
	float:left;
	}
.product-list ul li:first-child {
	border-top:0;
	padding-top:0;
	margin-top:0;
	}
.product-list ul li {
	padding-top:20px;
	margin-top:20px;
	border-top:1px solid #dbdbdb;
}
.product-list .left {
	position:relative;

}
.product-list .right {
	text-align:left;
	}
.product-list ul li {

	}
.product-list .name {
	margin-bottom:10px;
}
#grid_a, #list_a, #grid_b, #list_b {
	vertical-align:top;
	font-size:28px;
	float:left;
	display:block;
	width:32px;
	height:32px;
	margin-left:6px;
}
#grid_a, #list_a{
	color:#ACC955;
}
#grid_a:hover, #list_a:hover, #grid_b, #list_b{
	color:#fb838d;
}
#list_b i, #grid_b i {
	cursor:default
	}
.product-filter .display {
	position:relative;
	}
.product-filter .display b {
	float:left;
	color:#000;
	text-transform:uppercase;
	display:none;
	}
.product-list .description {
	overflow:hidden;
	margin-bottom: 5px;
}
.product-grid ul li {
	text-align:left;
	position:relative;
	}
.product-grid .cart-button{
	display:inline-block;
}
.product-grid ul li.first-in-line {
	clear:left
	}
.extra-prod input {
	padding-bottom:4px;
}
.extra-prod {
	padding-top:6px;
}
.or {
	padding-top:3px;
}
.product-grid .image {
	display: block;
}
.product-grid .description {
	overflow:hidden;
}
.product-grid .price {

	}
.product-grid .rating {
	display: block;
}
.product-list .cart-button {

	}
.cart-button .cart {float:left;}

.product-list .price-tax {
	font-size:12px;
	display:block;
}
.product-grid .price-old {
	text-decoration: line-through;
}
.product-list .price-new, .product-grid .price-new {

}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .price-old {
	font-weight:normal;
}
.product-grid .cart {
	float:left;
}
.content-border h2{
	margin-bottom:30px;
	}
.content-border {
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	padding:30px 40px;
	margin-bottom:20px;
	}
/*************************** Product ***************************************/
#compare {
	display:none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
#full_gallery{
	display:none;
	max-width:270px;
	position:relative;
	}
#full_gallery .prev {left:0}
#full_gallery .next {right:0}
#full_gallery .prev:hover, #full_gallery .next:hover{
	color:#fb838d
	}
#full_gallery .prev, #full_gallery .next{
	color:#777;
	font-size:19px;
	position:absolute;
	top:50%;
	margin-top:-23px;
	}
.bx-controls-direction a.bx-prev {
	margin-left:-10px;
	}
.bx-controls-direction a.bx-next {
	margin-right:-10px;
	}
.bx-controls-direction a {
	padding:10px;

	}
.product-info {
	padding-bottom:7px;
	margin-top:20px;
}
.product-info .description{
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	padding:20px;
	margin-bottom:20px;
	}
.product-info h1.view {display:none;}

.product-info .left {
	position:relative;
	z-index:5;
	margin-bottom:20px;
}
.product-info .image {
	float: left;
	width:100%;
	max-width:270px;
	max-height:424px;
	height:100%;
	margin-bottom:7px;
	text-align: center;
	background-color:#fff;
}
.product-info .image-additional {
	overflow:hidden;
	max-width:240px;
	position:relative;
	clear: both;
	padding:0 20px;
	}
.product-info .image-additional li {
	float:left;
	max-width:70px;
}
.product-info .image-additional li.last {
	margin-right:0;
}
.product-info .image-additional img {
	background:#fff;
}
#zoom1 img {
	background:#fff;
}
.product-info .image-additional a {
	display: block;
}
.image-additional .next:hover, .image-additional .prev:hover  {
	color:#fb838d
	}
.image-additional .prev  {
	position:absolute;
	width:15px;
	height:15px;
	left:0;
	top:40%;
	margin:0;
	font-size:19px;
	color:#777
	}
.image-additional .next  {
	color:#777;
	position:absolute;
	width:15px;
	height:15px;
	right:0;
	top:40%;
	margin:0;
	font-size:19px;
	}
.product-info .share >span{
	margin-bottom:20px;
	display:inline-block;
	}
.product-info .description .product-section {
	line-height:24px;
	margin-bottom:20px;
	color:#383838;
	}
.product-info .description .product-section a:hover{
	color:#71892A;
	}
.product-info .description .product-section span {
	color:#888;
	}
.product-info .description .product-section .prod-stock{
	display:inline-block;
	background-color:#ACC955;
	color:#fff;
	font-style:normal;
	padding:0 7px;
	margin:0 9px;
	}
.product-info .price {
	color:#383838;
	font-size:20px;
	border-top:1px solid #DBDBDB;
	border-bottom:1px solid #DBDBDB;
	padding:23px 0;
	margin-bottom:20px;
	}
.product-info .price .price-new{
	font-size:24px;
	}
.product-info .price .price-old{
	color:#999;
	margin-left:8px;
	font-size:21px;
	}
.product-info .price .price-tax{
	color:#383838;
	text-transform:none;
	font-weight:normal;
	margin-left:10px;
	}
.product-info .price .discount{
	text-transform:none;
	font-weight:normal;
	}
.product-info .price .reward{
	padding-top:10px;
	display:block;
	}
.tab-content ul{
	margin-left:25px;
	margin-bottom:20px;
	list-style-type:disc
	}
.product-info .minimum {
	margin-top:5px;
	}
.product-info .cart-top-padd {
	float:left;
	}
.product-info .extra-button {
	float:left;
	}

.product-info .options {
	padding-bottom:15px;
	border-bottom:1px solid #DBDBDB;
	margin-bottom:20px;
	}
.product-info .cart-top label {
    margin-right: 8px;
	margin-top:3px;
	margin-bottom:8px;
	font-weight:normal;
	float:left;
}
.product-info label input{
	padding-top:2px;
	padding-bottom:2px;
}
.product-info .button-prod{
	float:left;
}
.product-info .cart-top {
	border-bottom:1px solid #DBDBDB;
	padding-bottom:15px;
	margin-bottom:20px;
	}
.q-mini {
	width:30px;
	}
img#captcha {
	margin-left:50px;
	}
#tab-review input[name="captcha"] {
	margin-top:10px;
	}
.border {
	border-bottom:1px solid #d2d2cb;
	border-bottom:1px solid rgba(0,0,0,.1);
	padding-bottom:15px;
	margin-bottom:15px;
	}
/******************************/
.product-info .gallery li {
	max-width:270px;
	float:left;
	height:424px
	}
.ps-carousel-item img {background-color:#eee;}
.ps-zoom-pan-rotate img {background-color:#eee;}
.product-info .gallery li img{
	background-color:#eee;
	}
/*****************************/
a.button-prod i{
	display:none;
	}
.product-info .review {
	padding-bottom:10px;
	border-bottom:1px solid #DBDBDB;
	margin-bottom:20px;
	}
.product-info .review>div img{
	margin-bottom:10px;
	}
.product-info #review{
	margin-bottom:10px;
}
.product-info #review-title{
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
	}
.product-info .review a:hover {
	color:#71892A;
	}
.product-info .review a{
	color:#fb838d;
	}

.product-info .review a+a {
	margin-left:20px;
	}
.product-info .review img{
	float:left;
	margin-right:20px;
	}
.product-info .review .btn-rew {
	float:left;
	}
.product-info .review .btn-rew a i{
	font-size:26px;
	color:#fb838d;
	line-height:16px;
	width:1.25em
	}
.product-info .review .btn-rew a:hover i{
	color:#ACC955;
	}
.tabs {
	margin-bottom:10px;
	}
.tabs .tab-heading i{
	float:right;
	color:#FBDBDD;
	}
.tabs .tab-heading:hover i{
	color:#fff;
	}
.tabs .tab-heading {
	margin-bottom:10px;
	}
.tabs .tab-content {
	padding:20px;
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	margin-bottom:10px;
	}
#tab-review.tabs .tab-content {
	padding:20px;
	}
/**************compare block****************************/
.compare-block {
	margin-bottom:20px;
	}
.compare-block .image {
	margin-right:10px;
	max-width:35%;
	}
.compare-block .remove a{
	font-size:19px;
	line-height:normal;
	}
/**************************************************/
.compare-info {
	width: 100%;
	}
.block-compare {
	position:relative;
	overflow:hidden;
}
.td-price {
	font-weight:bold;
	font-size:16px;
}
.compare-info .prod-stock {
	margin:0 auto;
	float:none;
	font-weight:bold;
	font-size:13px;

	text-transform:uppercase;
	 background-color: #ACC955;
    color: #FFFFFF;
    display: inline-block;
    font-style: normal;
    margin: 0 9px;
    padding: 0 7px;
}
.compare-info td.name a:hover {color:#777}
.compare-info td.name a {
	text-decoration:none;
	font-size:16px;
	color:#fb838d
}
.compare-info td.name a:hover {

	}
.compare-info td.last {
	border-right:0;
}
.compare-info thead td:first-child {
	text-align:left;
	}
.compare-info td:first-child {
	background-color:#F9F9F9;
	color:#000;
	font-weight:bold;
	text-align:right;
	}
.compare-info td.image2 {
	text-align:center;
	}
.compare-info td {
	padding: 7px;
	width: 20%;
	text-align: left;
	vertical-align: top;
}
.compare-info .price-old {
	font-weight: normal;
	text-decoration: line-through;
	display:block;
	font-size:15px;
}
.compare-info td.td-price .price-old{color:#777}
.compare-info td.td-price {
	font-weight: bold;
	font-size:17px;
	line-height:normal;
	color:#fb838d
}
/* wishlist */
.wishlist-product2 {
	display:none;
	}
.wishlist-product {
	margin-bottom:25px;

}
.wishlist-product tbody .name a:hover {
	color:#fb838d;
	}
.wishlist-product tbody .name a {
	font-size:12px;
	}
.wishlist-product tbody .model {
	text-align: center;
	font-size:13px;
	}
.wishlist-product tbody .stock {
	text-align: center;
	}
.wishlist-product tbody .stock .prod-stock {

}
.wishlist-product tbody .quantity {
	text-align: right;
}
.checkout-product .table td.price {
	text-align:left;
	font-size:13px;
	color:##777
	}
.table .total, .table .price {
	text-align: center;
	font-size:15px;
	color:#383838;
	font-family: 'Playball',cursive;
}
.table thead .price , .table tfoot .price, .checkout-product thead .total{
	font-family: Arial,sans-serif;
}
.table .total b, .table .price b{
	font-weight:normal;
}
.table thead td {font-size:12px !important;}
.table .price s {
	color:#999;
	font-weight:normal;
	display:block;
}

input#sub_category {
	background:none;
	margin:0
	}
/************************** contact page *********************/
.contact-info {
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	padding:40px;
	margin-bottom:20px;
	}
.contact-info .contact-box i {
	color:#FB838D;
	font-size:26px;
	width:1.25em;
	}
.contact-info .contact-box {
	margin-bottom:20px;
	line-height:26px;
	}
.contact-info .contact-box b{
	color:#383838;
	margin-left:10px;
	font-weight:normal;
	}
.contact-info iframe {
	min-height:200px;
	max-height:300px
	}
.contact-info figure{
	margin:0;
	}
.content.contact-f textarea {
	max-width:100%;
	}
.content.contact-f {
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	padding:40px 40px 20px;
	}
.content.contact-f div.buttons, .content.contact-f div.captcha {
	margin-top:20px;
	}
/************************** checkout page *********************/
.checkout-heading {
	background-color:#fff;
	color:#383838;
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
	border:1px solid #dbdbdb;
	border-top:5px solid #fb838d;
	padding:15px 100px 15px 15px;
	margin-top:10px;
	}
.checkout-content {
	display:none;
	}
.checkout-content {
	margin-top:-1px;
	padding:20px 40px;
	background-color:#fff;
	border:1px solid #c4c3bb;
	}
.checkout-content input#shipping{
	float:left;
	margin-right:5px;
}
.checkout-content .login-content .heading h2 {
	font-size:20px;
	}
.checkout-content .login-content p.login-padd {
	border-bottom: 1px solid #dedede;
    padding-bottom: 6px;
	}
.checkout-heading {
	position:relative;
	}
.checkout-heading>a{
	position:absolute;
	right:20px;
	top:15px
	}
.checkout-content label a:hover {
	text-decoration:underline;
	}
.checkout-content label a {
	color:#fb838d;
	}
/************************** login page *********************/

.login-content .right, .login-content .left {
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	padding:30px;
	margin-bottom:30px;
	}
.login-content .heading {
	overflow:hidden;
	border-bottom:1px solid #DBDBDB;
	padding-bottom:10px;
	margin-bottom:20px;
	}
.login-content .content>p{
	border-bottom:1px solid #DBDBDB;
	padding-bottom:20px;
	}
.login-content .heading i{
	font-size:56px;
	color:#ACC955;
	float:left;
	margin-right:14px;
	}
.login-content .heading h2 {
	margin-top:0;
	margin-bottom:2px;
	font-size:16px;
	line-height:19px;
	color:#71892A;
	}
.login-content .heading b {
	font-size:13px;
	color:#737373;
	font-style:italic;
	font-weight:normal;
	}

/*.login-content .form-horizontal .control-label {
	width:110px;
	}
.login-content .form-horizontal .controls {
	margin-left:120px;
	}*/
.login-content .form-horizontal .controls input {
	width:94%;
	max-width:100%
	}
.login-content .login-buttons {
	border-top:1px solid #DBDBDB;
	padding-top:20px;
	}
.login-content .login-buttons .link-login{
	line-height:28px;
	}
.buttons .right label {
	text-align:left;
	}
.login-content {
	width:100%;
	overflow:hidden;
}
.box-container{
	padding:20px;
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
}
.product-search .box-container{
	margin-bottom:20px;
}
.login-content .left p + p {
	margin-bottom:16px;
}
.link-login {
	text-decoration:underline;
	display:inline-block;
	color:#FB838D;
	font-style:italic;
	margin-left:15px;
}
.link-login:hover {
	text-decoration:none;
}
.padd-form {
	display:block;
	padding-bottom:5px;
}

.login-content .right .content p {
	margin-bottom:15px;
}
.login-content .right .content b {
	display:block;
}
#register .form td label {
	display:inline-block;
	margin-right:5px;
}
#register .form td input {
	margin-top:0;
}
#register .buttons .right b{
	font-weight:normal;
}

#register .buttons .right .button{
	margin-left:5px;
}
#register .content {
	border:none!important;
	padding:0!important;
}
/* orders */
.order-list, .return-list {
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
    margin-bottom:30px;

}
.order-content span, .heading-order-list span{
	color:#383838;
	}
.order-content .or-price{
	color: #383838;
    font-family: 'Playball',cursive;
    font-size: 18px;
}
.heading-order-list {
	background-color:#fff;
	overflow:hidden;
	border-bottom: 1px solid #DBDBDB;
	text-transform:uppercase;
	font-family: 'Open Sans',sans-serif;
	font-size:13px;
	color:#6d6d6d;
	padding:20px;
}
.order-list .order-id, .return-list .return-id {
	width: 49%;
	float: left;
	}

.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
}
.order-list .order-content, .return-list .return-content {
	padding:20px;
	color:#6d6d6d;
	background-color:#fff;
	}
.order-content b, .order-id b, .order-status b{
	font-weight:normal;
}
.order-list .order-content div .button {
	margin-top:3px;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-box-2 {
	padding:15px 20px 19px 20px;
	margin-bottom:10px;
}
.return-box-2 .buttons .right {
	float:left;
}
.return-box-2 .buttons {
	padding-left:0;
	padding-top:12px;
	padding-bottom:0;
	margin-bottom:0;
}
.return-box {

	}
.return-p {
	padding-left:17px;
}
.return-p p {
	margin-bottom:13px;
}
.return-list {
	margin-bottom: 10px;
}
#content .content.return-box {
	padding:14px 10px 11px 20px;
	margin-bottom:10px;
}
.content.return-box h2 {
	margin-bottom:14px;
}
#content .content.return-box .left {
	width:320px;
}
#content .content.return-box .right {
	width:320px;
}
.content.return-box label {
	font-size:12px;
	font-weight:bold;
	}
.content.return-box span {
	}
.content.return-box input {
	margin-top:6px;
	margin-bottom:7px;
	width:310px;
}
.content.return-box .error {
	padding-bottom:5px;
	display:block;
}
.return-box-3 {
	margin-bottom:20px;
	padding:14px 10px 10px 20px;
}
.return-box-3 h2 {
	margin-bottom:15px;
}
.return-box-3 textarea {
	width:310px;
	height:188px;
	max-width:310px;
	max-height:188px;
}
.return-box-3 .return-captcha {
	width:320px;
	margin-top:-3px;
}
.return-box-3 .return-captcha b {
	padding-bottom:6px;
	display:block;
}
.return-box-3 .return-captcha input {
	width:170px;
	margin-bottom:10px;
}
.return-box-3 .return-additional {
	margin-bottom:11px;
}
.return-box-3 .buttons {
	padding:0;
	margin-bottom:0;
}
/* button */
.button-return-right-i:hover, .button-return-right:hover {color:#fb838d; cursor:pointer;}
.button-return-right{
	border:0px;
	background:none;
	color:#757475;
	padding:0;
	line-height:32px;
	min-height:32px;
	display:inline-block;
	}
#return-product .button-return-right-i {position:relative;}
#return-product .button-return-right-i input{
	font-family:'Open Sans', sans-serif;
	color:#ACC955;
	font-size:14px;
}
#return-product .button-return-right-i:hover input{
	color:#fb838d;
}
#return-product b{
	font-weight:normal;
}
#return-product .button-return-right-i i.icon-circle-arrow-right {position:absolute; right:0; z-index:4}
#return-product input.button-return-right{
	padding-right:31px;
	position:relative;
	z-index:5
	}
a.button-return-left:hover, a.button-return-right:hover, a.button-order-right:hover, a.button-cont-right:hover, a.button-back-left:hover, a.button-inf-left:hover {
	color:#fb838d;
	}
a.button-return-left, a.button-return-right, a.button-order-right, a.button-cont-right, a.button-back-left, a.button-inf-left {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	padding-right:0px;
	color:#71892A;
	font-size:14px;
	vertical-align:top;
	font-family: 'Open Sans', sans-serif;
	}
a.button-back-left i,.button-back-left i, .button-return-right-i i, a.button-return-left i, a.button-cont-right i {
	font-size:26px;
	text-align:center;
	vertical-align:middle;
	margin:0 9px;
	color:#ACC955;
	}
a.button-return-left:hover, a.button-return-right:hover, a.button-order-right:hover, a.button-cont-right:hover, a.button-back-left:hover, a.button-inf-left:hover, a.button-back-left:hover i,.button-back-left:hover i, .button-return-right-i:hover i, a.button-return-left:hover i, a.button-cont-right:hover i {
	color:#fb838d;
}
i.icon-circle-arrow-right {margin-right:0 !important;}
a.button-order-right {
	padding:0;
}

a.button-return-left span, a.button-return-right span, a.button-order-right span, a.button-cont-right span, a.button-back-left span, .wishlist-product a.button-wislish-left span, a.button-inf-left span {
	line-height:1.2em;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
}
a.button-return-left span, a.button-back-left span, a.button-wislish-left span {
	padding:5px 0px 5px 14px;
	background: url('../image/marker-button-left.png') left 8px no-repeat;
}
a.button-return-right span, a.button-order-right span, a.button-cont-right span, a.button-inf-left span {
	padding:5px 14px 5px 0px;
	background: url('../image/marker-button-right.png') right 8px no-repeat;
}
.cart-bottom a i.icon-check {
	margin-right:0;
	}
.cart-bottom a.button-cont-right {
	margin-right:20px;
	}
/* button */



.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}

.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	}
.return-name {

}
.return-model {

}
.return-quantity {

}
.return-detail {
	overflow: auto;
}
.return-reason {

	}
.return-opened {

	}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {

}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.product-filter .product-compare a{
	color:#000;
}
.product-filter .product-compare a:hover{
	color:#fb838d;
}
a {
	outline:none;
}
a:hover i.icon-trash {
	color:#FB838D;
	}
a i.icon-trash {
	color:#ACC955;
	}
i.icon-trash {
	font-size:26px;
	}
.shop-cart {
	border-bottom:none;
	overflow:hidden;
	position:relative;
}
.cart-info2 .table td+td {
	text-align:center;
	}
.shop-cart .table td {
	vertical-align:middle;
	}
.cart-module .cart-content {
	padding:18px 0px 19px 18px;
	display: none;
	overflow: auto;
	border-top:none;

}
.cart-info2 {display:none;}
.cart-info {
	overflow:hidden;
	margin:20px 0;
}
.cart-info td.name a:hover {
	color:#fb838d;
	}
.cart-info td.name a {
	color:#383838;
	font-size:13px;
	}
.content.shop-cart-content>p{
	border:1px solid #D0D0D0;
	border-bottom:0;
	margin:0;
	padding:20px;
	}
a.input-update {

	}
a.input-update i{
	color: #ACC955;
	font-size:26px;
	}
a.input-update:hover i{
	color: #fb838d;
	}
#cboxLoadedContent td>input[type="radio"]{
	margin:0px;
	float:none
	}
td.quantity>input[type="text"] {
	width:40px
	}
table#total  td {
	background-color:#f9f9f9;
	padding:20px;
	text-transform:uppercase;
	width:80%
	}
table#total  td b{
	font-weight:normal;
	}
table#total  td+td {
	background-color:#fff;
	color:#383838;
	text-align:left;
	font-family: 'Playball',cursive;
	font-size:15px;
	}
td.price {
	font-size:17px;
	}
table.radio {
	padding:0
	}
.cart-module>div{
	padding:20px 20px;
	margin-bottom:20px;
	margin-top:-21px;
	display:none;
	border:1px solid #D0D0D0;
	}
/*********************************************************************/
.sitemap-info ul {
	margin-top:10px;
}
.sitemap-info li a {
	text-decoration:none;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
#newsletter .content {
	margin:0;
	padding:0;
	border:none;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
#newsletter .form tr td:first-child {
	width:58px;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */
footer {
	margin-top:30px;
	clear: both;
	overflow: hidden;
	}
footer .footer-block{
	padding:35px 0 29px;
	background:url(../image/content-tail-940px.png) repeat-y center top;
	border-top:1px solid #d2d2cb;
	border-bottom:1px solid #d2d2cb;
	border-top:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid rgba(0,0,0,.1);
	}
footer .footer-block .span2:first-child h3, footer .footer-block .span2:first-child ul{
	padding-left:26px;
}
footer #powered{
	margin:36px 0 0;
}
footer .foot-phone{
	color:#a3a3a3;
}
footer .foot-phone .extra-wrap div{
	line-height:27px;
	font-family: 'Open Sans',sans-serif;
}
#powered span{
	display:inline-block;
}
.common-home footer {
	margin-top:0;
	}
footer h3 {
	/*word-wrap:break-word;*/
	margin-bottom:15px;
	}
footer li {
	padding:4px 0 3px;
	}
footer li a {
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	line-height:16px;
	color:#a3a3a3;
	word-wrap:break-word;
	}
footer li a:hover {
	color:#fb838d;
	}
span.toggle {
	display:none;
}

#powered a {
	text-decoration:none;
	color:#9b9b9b;
	}
#powered a:hover {
	text-decoration:none;
	color:#fb838d;
	}
#powered {
	font-size:14px;
	line-height:16px;
	font-family: 'Open Sans', sans-serif;
	position:relative;
	display:block;
	width:100%;
	float:left;
	color:#9b9b9b;
	background:url(../image/content-tail-940px.png) repeat-y center top;
	border-top:1px solid #d2d2cb;
	border-top:1px solid rgba(0,0,0,.1);
	}
#powered  >div{
	padding:11px 12px 12px 28px;
}
#powered  .pow{
	padding-top:3px;
}
footer .social{
	display:inline-block;
	float:right;
	margin-right:50px;
}
footer .social li{
	display:inline-block;
	float:left;
	margin-left:18px;
	padding:0;
}
footer .social li a {
	display:inline-block;
	line-height:25px;
	height:25px;
}
footer .social li a:hover {
	background-position: bottom center;
}
footer .social li a:hover i{
	color:#fb838d;
}
footer .social li a i{
	color:#9f9f9f;
	font-size:23px;
	line-height:26px;
}

.return-captcha input img {vertical-align:top;}
.return-captcha input {
	margin-bottom:10px;
	margin-top:3px;
	vertical-align:top;
	}
/********************************************************************************************************************************************************************************************************/
/* banner */
.banner {
	display:inline-block;
	float:left;
	margin-bottom:25px;
	}
.banner>div {
	position:relative;
	overflow:hidden;
	max-width:270px;
	}
.banner>div a{
	display:inline-block;
	border:1px solid #e4e3de;
	border-bottom-color:#d8d6d0;
	background-color:#fff;
	}
div.banner-2  a{
	border:none;
}
.banner img {
	width:100%;
	height:auto;
	}
.banner a img , .box-product ul li .image2 img,.box-product ul li .image img,.product-grid .image img, .product-list .image img{
	background:#fff;
	}
.banner a:hover img , .box-product ul li .image2:hover img,.box-product ul li .image:hover img,.product-grid .image:hover img, .product-list .image:hover img{
	opacity:.85;
	}
.banner .s-desc {
	display:block;
	position:absolute;
	z-index:2;
	top:0; left:0;
	padding: 16px;
	font-size:11px;
	line-height:13px;
	color:#746969;
	}
.banner .banner-2 .s-desc {
	padding: 32px 12px 16px 35%;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:13px;
	line-height:16px;
	color:#ebff96;
	}
.banner .s-desc p{
	font-size:11px;
	line-height:17px;
	color:#746969;
	width:70%;
	margin-bottom:8px;
	}
.banner h1{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:19px;
	font-weight:bold;
	color:#7d7c7c;
	margin-bottom:4px;
	text-transform:uppercase;
}
.banner .banner-2  h1{
	color:#fff;
	margin-bottom:0;
}
.banner .s-desc span {
	display:block;
	padding:14px 9px;
	width:50px;
	height:40px;
	background-color:#aacc42;
	border:5px solid #b2d44a;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	font-size:19px;
	line-height:16px;
	color:#fff;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}
.banner .s-desc span h2{
	font-size:9px;
	color:#fff;
	margin-top:3px;
	margin-bottom:0;
	text-transform:uppercase;
}
.box-product ul li, .product-grid ul li{
	position:relative;
	border-top:1px solid #d2d2cb;
	border-top:1px solid rgba(0,0,0,.1);
}
aside .box-product ul li{
	border-top:none;
}
.banner .banner-2  a:hover .s-desc{
	color:#fff;
}
.box .box-content .box-product ul li:hover:after, .product-grid ul li:hover:after {
	background:#fb838d;
}
.banner a:hover .s-desc span{
	background:#fb838d;
	border-color:#ff97a1;
	}
/* AJAX Add to Cart Confirm by Harryo*/
.information-information .box-container{
	padding:20px;
	background-color:#fff;
	border:1px solid #d2d2cb;
	border:1px solid rgba(0,0,0,.1);
	}
.success, .warning, .attention, .information, .rev-success {
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	color: #555;
}
.success a, .warning a, .attention a, .information a {
	color: #333;
}
#cart-success {
	position: fixed;
	z-index:9998;
}
.success i.icon-remove-sign {
	font-size:26px;
	padding:10px;
	}
.success .close i {
	padding:10px
	}
.success {
	color:#000
}
.success>img{
	max-width:70px;
	height:auto;
	float:left;
	background-color:#efeeee;
	margin-right:10px;
	border:1px solid #D0D0D0
}
.success a:hover {
	text-decoration:none;
	color:#fb838d
}
.success a {
	text-decoration:none;
	color:#252525
}
.success span:hover img {
	margin-top:-11px;
}
.success p {
	margin-bottom:11px;
	font-size:24px;
	color:#1b1b1b;
}
.success span:hover {cursor:pointer; color:#fb838d}
.success span {
	overflow:hidden;
	position:absolute;
	right:8px;
	top:8px;
	opacity:1
}
.success i {color:#fff}
.success i:hover {color:#fb838d;}
.success i.icon-thumbs-up{
	font-size:31px;
	color:#fff;
	margin-right:10px;
	}
.close {color:transparent; text-shadow:none}
.success a {color:#fff;}
.success a:hover {color:#fff; text-decoration:underline;}
.success {
	width:60%;
	position:fixed;
	z-index:99999!important;
	box-shadow:0 5px 10px rgba(0,0,0,.08);
	top:0;
	left:0;
	padding:20px 20%;
	z-index:9999;
	line-height:18px;
	text-align:center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:none;
	background:#ACC955;
	display:none;
	font-size:13px;
	color:#EBFF96;
	}
#wrap {
	z-index:10!important;
}
.rev-success {
	background: #EAF7D9 url('../image/success.png') left no-repeat;
	border: 1px solid #D0D0D0;
	padding-left:20px;
}
/**************************************************************related****************************************************************/
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
/***/
.image {position:relative}
.related-info .cart-button .cart {
	float:none;
	}
.related-info .wishlist, .related-info .compare {
	display:inline-block;
	}
.related-info .wishlist a, .related-info .compare a {
	margin:0;
	}
aside #compare .name a{
	color:#777;
}
aside #compare .name a:hover{
	color:#fb838d;
}
.related-info {
	display:inline-block;
    float: left;
	position:relative;

	border-bottom:0 !important;
	}
.related {
	position:relative;
	}
.related .cart {
    float: none;
}
.related  .wishlist, .related  .compare{
   float:left;
}
.related  .compare a{
   margin-left:6px;
}
.related .name {
	height:40px;
	overflow:hidden;
	}
.related .prev:hover, .related .next:hover {
	color:#fb838d
	}
.related .prev, .related .next {
	position:absolute;
	top:50%;
	font-size:26px;
	color:#777;
	margin-top:-31px;
	}
.related .prev {
	left:0
	}
.related .next {
	right:0
	}
/***********************************************************about-page**************************************************************************/
.about-page i:before {text-indent:0}
.about-page i{
	display:block;
	color:#ACC955;
	font-size:56px;
	float:left;
	width:56px;
	height:56px;
	margin-right:15px;
	overflow:hidden;
	}
/******************************************************************************************************************************************/
#colorbox {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.preview {
	padding:15px;
}
.preview .marg { margin-bottom:25px;}
.preview .price { width:100%; overflow:hidden;}
.preview .price span { float:left; margin-right:10px;}

.preview .right .inf span { display:block;margin-bottom:10px;}
.preview .right .inf span.text-price { margin-left:0;}
.preview .right h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.preview .inf .prod-stock {
    margin-bottom: 10px;
}
.preview .description {
	height:160px;
	padding:15px;
	overflow:auto;
	border:1px solid #D0D0D0;
}
.preview .wishlist, .preview .compare{
	margin-bottom:6px;
}
.preview .wishlist a, .preview .compare a{
	margin-left:0;
	margin-right:8px;
}
.preview  .button.details{
	margin-right:8px;
}
.preview .cart {
	float:left;
	margin-right:8px;
	}
.preview  .prev_button{
	display:inline-block;
	width:100%;
	float:none;
}
.preview .extra-button {
	float:left;
	width:150px;
	margin-top:3px;
	margin-left:15px;
	}
#cboxContent #cboxTitle {
	width:60%;
	padding:0 20%;
	}
#colorbox { z-index:100  !important;}
#cboxOverlay { z-index:100 !important;}
.preview .rating { margin-top:15px;}
.box li {
	position:relative;
	}
.box .box-content .box-product ul li .quick-view-button, .name a, a.button, a.button-prod, footer li a, #powered a, .banner a img , .box-product ul li .image2 img,.box-product ul li .image img,.product-grid .image img,.product-list .image img, .banner .s-desc span, .banner .banner-2 .s-desc, aside .info li a, .afine li a, .acount li a, footer .social li a i, .wishlist a, .compare a, .pagination .links a, .product-info .review a, a.button-return-left, a.button-return-right, a.button-order-right, a.button-cont-right, a.button-back-left, a.button-inf-left, a.button-back-left i, .button-back-left i, .button-return-right-i i, a.button-return-left i, a.button-cont-right i, .banner a{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
.box  .box-product ul li .image2, .product-grid .image, .box-subcat .image, .related-slider .image, .product-list{
	background-color:#fff;
	padding:21px 20px 0 19px;
	border-left:1px solid #d2d2cb;
	border-right:1px solid #d2d2cb;
	}
.product-list{
	padding:30px 28px 30px 28px;
}
.box  .box-product ul li .image2 a, .product-grid .image a, .product-list .image a, .box-subcat .image a{
	display:block;
	}
.box  .box-product ul li  .inner, .product-grid ul li .left, .inner_related{
	padding:19px 22px 21px 20px;
	border-top:none;
	background:#fff;
	border-right:1px solid #d2d2cb;
	border-bottom:1px solid #d2d2cb;
	border-left:1px solid #d2d2cb;
}
.box  .box-product ul li  .cart-button {
	display:inline-block;
	float:right;
}
.box  .box-product ul li  .description, .product-grid ul li  .description {
	margin-bottom:23px;
	color:#767676;
	font-size:13px;
	line-height:20px;
}
.box  .box-product ul li  .inner .name, .product-grid .name, .related ul li .name{
	display:block;
	padding:0;
	margin-bottom:10px;
}
aside .box  .box-product ul li  .inner .name{
	padding-bottom:11px;
	border-bottom:1px solid #dbdbdb;
	margin-bottom:16px;
}
aside .box .box-product ul li .inner{
	padding-right:20px;
	padding-bottom:15px;
}
.box  .box-product ul li  .inner .name a:hover, .product-grid .name a:hover, .related ul li .name a:hover{
	color:#fb838d;
	text-decoration:none;
}
.box .box-product .cart {
	float:left;
	}
.box .box-content .box-product ul li .image2{
	overflow:hidden;
	}
.box .box-content .box-product ul li .quick-view-button:hover {
	background-color:#fb838d;
	}
.box .box-content .box-product ul li .quick-view-button i {
	width:29px
	}
.box .box-content .box-product ul li .quick-view-button {
    opacity:0;
	visibility:hidden;
    left:50%; margin-left:-20px;
    position: absolute;
    top: 50%; margin-top:-8px;
	font-size:20px;
	padding:0;
	background-color:#acc955;
	color:#fff;
	line-height:38px !important;
	height:40px;
	width:40px;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	text-align:center;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
.box .box-content .box-product ul li:hover .quick-view-button {
    opacity:1;
	visibility:visible
}
/**************************************************** bootstrap reset ************************************************************************/
.table-bordered {
	border-radius:0
	}
.table thead td {
	text-transform:uppercase;
	color:#000 !important;
	background-color:#f9f9f9;
	font-size:13px;
	}
.table th, .table td {
	padding:20px;
	border-color:#d2d2cb;
	border-color:rgba(0,0,0,.1);
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	}
.block-compare .table th, .block-compare .table td {
	padding:7px
	}
/**************************/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size:13px;
	}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius:0;
	box-shadow:none
}
.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
	border-radius:0
	}
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
	border-radius:0;
	}
.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
	border-radius:0
	}
.table-bordered {
	border-color:#d2d2cb;
	border-color:rgba(0,0,0,.1);
	background-color:#fff;
	}
label, input, button, select, textarea {
	font-size:13px;
	color:#383838;
	}
textarea {
	resize:none
	}
label{
	cursor:default;
	}
.close:hover, .close:focus {
	opacity:1
	}

/********************lang***************************/

.product-grid .cart {
    float: none;
}
.product-grid .wishlist a, .product-grid .compare a{
   margin:4px 0 0;
}
.product-grid .compare a, .product-grid .compare a{
   margin-left:10px;
}
.product-grid  .wishlist, .product-grid  .compare {
    float: none;
}
/*******************icon************************/
header .icon-angle-down:before, #menu span.sf-sub-indicator:after, .sitemap-info ul li a i.icon-angle-right:before, .content ul li a i.icon-angle-right:before, #menu-gadget #menu-icon:after  {
	content:'' !important;
	width:7px;
	height:5px;
	margin-top:2px;
	background:url(../image/arr-down.png) no-repeat center top !important;
	vertical-align:middle;
}
.top-site .header-button:hover .icon-angle-down:before, header .link_a:hover .icon-angle-down:before, .sf-menu-phone  li  i:hover{
	background-position:center bottom !important;
}
#menu-gadget .sf-menu-phone li i.icon-angle-up:before{
	content:'' !important;
}
#menu-gadget #menu-icon:after  {
	height:25px;
	background-position:center center !important;
	background-image:url(../image/arr-down-phone.png) !important;
}
#menu span.sf-sub-indicator:after {
	padding-left:7px !important;
}
#menu ul li li span.sf-sub-indicator:after,
.sitemap-info ul li a i.icon-angle-right:before,
.content ul li a i.icon-angle-right:before {
	width:5px;
	height:9px;
	background:url(../image/arr-right.png) no-repeat center bottom !important;
}
header .top-site .icon-search:before{
	content:'' !important;
	width:11px;
	height:11px;
	background:url(../image/icon-search.png) no-repeat 0 0;
	vertical-align:top;
}
header .top-site .button-search:hover .icon-search:before{
	background-position:0 bottom !important;
}
.links .icon-star:before, .links .icon-user:before, .links .icon-shopping-cart:before, .links .icon-check:before, .links .icon-lock:before, #cart .heading span.link_a i.icon-shopping-cart:before{
	content:'' !important;
	width:16px;
	height:19px;
	background:url(../image/icon-1.png) no-repeat 0 0;
	vertical-align:top;
}
#cart .heading span.link_a i.icon-shopping-cart:before{
	width:38px;
	height:38px;
	background:url(../image/cart.png) no-repeat center center #acc955;
	}
.links .icon-user:before{
	background-image:url(../image/icon-2.png);
}
.links .icon-shopping-cart:before{
	width:18px;
	background-image:url(../image/icon-3.png);
}
.links .icon-check:before{
	width:18px;
	background-image:url(../image/icon-4.png);
}
.links .icon-lock:before{
	width:17px;
	background-image:url(../image/icon-5.png);
}
/****************lang****************/
html[lang="de"] #cart .heading span.link_a  {
	min-width:190px;
	}
html[lang="es"] #cart .heading span.link_a  {
	min-width:200px;
	}
html[lang="es"]  a.button span {
    white-space: normal;
	}
